<% include partials/header %>

<h1>Friends List</h1>

<ul>
  <% friends.forEach(function(friend) { %>
    <li>
      <form action='/removefriend' method='POST' onsubmit="return confirm('Are you sure? Do you really want to betray your friend?');">
        <input class="hide" type='text' name='id' value=<%= friend._id %> />
        <button type="submit" class="delete-button button"><i class="fa fa-trash"></i></button>
        <strong>
          <a href='/friend/<%= friend.id %>'>
            <%= friend.firstName %> <%= friend.lastName %>
          </a>
        </strong>
      </form>
    </li>
  <% }); %>
</ul>

<form class="add-friend-form" action='/addfriend' method='POST'>
  <input type='text' name='firstName' placeholder='First Name' autofocus required />
  <input type='text' name='lastName' placeholder='Last Name' autofocus required />
  <button type='submit' class="button" id="add-friend-button">+</button>
</form>

<% include partials/footer %>
